body{
    width: auto;
    height: auto;
    font-size: 13px;
    background: #FFF;
}
body::before{
    display: none;
}
h1, h2, h3, h4, h5, h6,strong, b{
    color: #000110;
}
a:hover {
    border-bottom-color: transparent;
    color:rgb(143, 160, 255)
}
img{
   /* margin: 20px 0;*/
   display: block;
   margin: auto;

}
::-webkit-scrollbar {  
    display: none;
}

.overview-table {
    margin: 0 auto;
    width: 55%;
}
.overview-table tbody tr {
    background: none !important;
    border: 0;
}
.overview-table tbody tr td {
    padding: 0.55rem 0.75rem;
}

.hidden{
    display: none;
}
#project-page {
    width: 100%;
    margin: 0 auto;
}
#project-main {
    background: #FFF;
    padding: 0px;
    color: #000110;
}
.project-narrow-content{
    padding: 1.8rem 20%;
}
.about_content{
    padding: 1.8rem 5%;
}
.float-nav-hide {
    opacity: 0 !important;
    top: -80px !important;
}
.float-nav {
    position: fixed;
    width: 100%;
    height: 68px;
    z-index: 99;
    top: 0px;
    opacity: 1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.float-nav .logo {
    width: 4em;
    height: 2em;
    background: url(../../images/logo.png) no-repeat;
    background-size: contain;
    margin-top: 20px;
    margin-left: 25px;
}
.float-nav .logo_dark {
    width: 4em;
    height: 2em;
    background: url(../../images/logo_dark.png) no-repeat;
    background-size: contain;
    margin-top: 20px;
    margin-left: 25px;
}

.float-nav .nav {
    position: absolute;
    right: 20px;
    top: 20px;
}
.float-nav .nav a {
    color: rgba(255, 255, 255, 0.65);
    text-decoration: none;
    border: 0px;
    font-size: 16px;
    padding: 0 10px;
}
.float-nav .nav a:hover {
    color: #FFFFFF;
}

.float-nav .nav_dark {
    position: absolute;
    right: 20px;
    top: 20px;
}
.float-nav .nav_dark a {
    color: #6a6a6a;
    text-decoration: none;
    border: 0px;
    font-size: 16px;
    padding: 0 10px;
}
.float-nav .nav_dark a:hover {
    color: #000000;
}

ul.row {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0.6rem 0px;
}
.card,.card-text{
    border: 0;
    margin:1.8rem 0;
}
.card-text {
    margin-top: 200px;
    max-width: 28em;
}
@media screen and (max-width: 768px){
    .card-text{
        margin:30px 0;
    }
}
.card_hub {
    width: 50%;
    padding: 0px 25px;
    display: inline-block;
    float: left;
}
.gifcontainer {
    width: 300px;
    margin: 0 auto;
}
.gifcontainer img {
    margin: 0;
    width: 100%;
    border: 1px solid #DDD;
}
.imgcontainer {
    width: 200px;
    margin: 0 auto;
}
.imgcontainer img {
    margin: 0;
    width: 100%;
    border: 1px solid #DDD;
}

.project-aside {
    position: fixed;
    margin-left: -300px;
    height: 100%;
    z-index: 9;
    display: table;
    opacity: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.project-aside-float {
    margin-left: 20px;
    transition: all 1s;
    opacity: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.project-aside-container {
    display: table-cell;
    vertical-align: middle;
}
.project-main-menu li {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}
.project-main-menu li a{
    color: #a7a7a7;
    border-bottom: none;
    text-decoration: none;
}
.back-btn{
    width: 100%;
    line-height: 12px;
}
.menu-ul{
    padding: 0;
    margin: 0;
}
li.font_padding a {
    font-size: 120%;
    font-weight: 500;
    text-transform: uppercase;
}
.sub{
    margin: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.sub:hover{
    margin-left: 20px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.sub:before{
    content: '';
    position: absolute;
    margin-top: 0.1em;
    width: 2px;
    height: 1.4em;
    background: #FFF;
    opacity: 0;
    left: -5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.sub:hover:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 1.4em;
    background: #a7a7a7;
    opacity: 1;
    left: 10px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.select {
    padding-left: 20px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.b_select {
    color: rgb(143, 160, 255)!important;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.select:hover{
    margin: 0 !important;
}
.select:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 18px;
    background: #b4bfff;
    opacity: 1;
    left: 10px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
img.project_img{
    width: 100%;
}
@media screen and (max-width:415px){
    #project-main{
        border:0 !important;
        margin-top: 0px !important;
        padding-top: 70px !important;
        margin-bottom: 0 !important;
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
    #project-page {
        width: 100%;
        padding: 0;
    }
    .card_hub{
        width: 100%;
    }
    .project-aside {
        width: 80%;
        position: fixed;
        top: 70px;
        margin: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        left: -100%;
        opacity: 0;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
    }
    .project-aside-show{
        left: 0;
        opacity: 1;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
    }
    .back-btn {
        display: none;
    }
    .menu-ul {
        padding-left: 7%;
    }
    .project-nav-toggle {
        position: fixed;
        top: 100px;
        right: 20px;
        width: 30px;
        height: 3px;
        z-index: 999;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
    }
    .project-nav-toggle i {
        width: 30px;
        height: 3px;
        background: rgba(0, 0, 0, 0.8);
        display: block;
    }
    .project-nav-toggle i::before{
        content: '';
        position: absolute;
        top:10px;
        background: rgba(0, 0, 0, 0.8);
        width: 30px;
        height: 3px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
    }
    .project-nav-toggle i::after{
        content: '';
        position: absolute;
        top:-10px;
        background: rgba(0, 0, 0, 0.8);
        width: 30px;
        height: 3px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
    }
    .project-nav-toggle-n i{
        background: rgba(0, 0, 0, 0);
    }
    .project-nav-toggle-n i::before{
        top:0;
        transform: rotate(45deg);
    }
    .project-nav-toggle-n i::after{
        top:0;
        transform: rotate(-45deg);
    }
    .select {
        padding-left: 10px;
    }
    .select:before{
        content: '';
        position: absolute;
        width: 2px;
        height: 18px;
        background: #FFF;
        opacity: 1;
        left: 20px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
    }
}



li.font_padding{
    padding-top: 15px !important;
}

h1.header{
    font-size: 55px;
    padding-bottom: 20px;
    color: #E3857A;
}

h1.header:after{
    content:"";
    display: block;
    height: 0.5em;
    width: 100%;
    border-bottom: 2px solid #ddd;
}


a.btn-warning{
    font-family:"Ubuntu",sans-serif;
    font-size: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
}

iframe {
    width: 100%;
    margin: 0 auto;
}

iframe.prototype{
   height: 730px;
   border: none;
}

iframe.vimeo{
   width:100%;
   height: 680px;
   display:block;
   margin: 0 auto 30px;
}

iframe.youtube{
   width:100%;
   height: 500px;
    display:block;
    margin: 0 auto;
}

h2.page-header{
    color: #4A4A4A;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 4.2rem;
}

hr {
  color: black;
  background-color: black;
  border: none;
  margin: 0 auto;
  height: 0.06rem;
  width: 2.4rem;
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
}

div.highlight{
    margin-top: 15px;
    padding: 10px;
}

.initial{
    margin-left: 300px !important;
}

h4.mini-title{
  color:#4A4A4A;
  font-size:0.8rem;
  font-family: 'Futura', sans-serif;
  text-align: left;
}



h4.cic-winner{
    margin-top: 30px;
    text-decoration: none;
    float:left;
}

h4.cic-winner a{
    font-size:15px;
    color: #fff;
    padding-bottom: 10px;
    font-family: "Ubuntu", sans-serif;
    padding:8px 13px;
    background: #BCBCBC;
    border-radius: 3px;
    text-decoration: none;
}


h4.cic-press{
    margin-top: 30px;
    margin-left: 10px;
    text-decoration: none;
    float: left;
    
}

h4.cic-press a{
    font-size:15px;
    color: #fff;
    padding-bottom: 10px;
    font-family: "Ubuntu", sans-serif;
    padding:8px 13px;
    background: #777;
    border-radius: 3px;
    text-decoration: none;
}

p.mini-desc{
    margin-bottom: 1.8rem;
}

h3.header{
  color:#404148;
  font-size:20px;
  margin:35px 20px 10px;
  text-transform: uppercase
}

h3.overview_subtitle{
    color: #4A4A4A;
    font-size: 0.89rem;
    font-weight: 800;
    padding-top: 1.2rem;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    padding-bottom: 0.6rem;
}

p.project-desc {
 /* color:#4A4A4A;
  font-size:16px;
  text-align:left;
  line-height: 30px;
  font-family: "Myriad Pro", sans-serif;*/
  font-family: 'Avenir Next', sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #3c3c3c;
}
.top-nav {
   display: none;
}

.top-img{
    height: 700px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: 60px;
}
.zoom-img {
    position: relative;
    margin-top: 2em;
}
.scrolltip {
    padding: 5px 15px;
    border-radius: 6px;
    color: #FFF;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 999;
    left: 10px;
    top: 10px;
}

p.left-vertical-line {
    padding-left: 1.6rem;
    border-left-width: 0.4rem;
    border-left-style: solid;
    
}

p.margin-top-2 {
    margin-top: 2rem;
    font-style: italic;
}

span.key-word {
    color: #3c3c3c;
    font-family: 'Avenir Next', sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.8rem;
}